h1{
    color: #fff;
}

.top-bar{
    background-color: #26235A;
    padding: 20px 0px;
}

.align-center{
    align-items: center;
}

.align-right{
    text-align: right;
}

.psicologo-name{
    color: #D9145C;
}

.btn-accept, .btn-decline{
    margin: 10px;
}

.call{
    padding: 30px 0px;
    text-align: center;
}

.history-content{
    padding: 10px 0px;
}

.edit-info{
    padding: 30px 0px;
    background-color: #F7F7F7;
}

.edit-info-title{
    margin-bottom: 40px;
}

.small-container{
    max-width: 990px;
    margin: 0 auto;
}

.btn-edit{
    width: 32px;
    height: 32px;
}

.psicologo-desc{
    color: #FFF;
}

.last-chat-text{
    display: block;
    color: #7E7A7A;
}

.clock{
    width: 52px;
    height: 52px;
}

.profile-pic{
    max-width: 150px;
    border-radius: 50%;
    border: 7px solid #D9145C;
    max-height: 150px;
}

.align-right{
    text-align: right;
}

.edit-info-title{
    text-transform: uppercase;
}