h1{
    color: #fff;
}

.top-bar{
    background-color: #26235A;
    padding: 20px 0px;
}

.align-center{
    align-items: center;
}

.align-right{
    text-align: right;
}

.psicologo-name{
    color: #D9145C;
}

.btn-accept, .btn-decline{
    margin: 10px;
}

.psy-info-content{
    width: 80%;
    display: flex;
    align-items: center;
}

.psy-info{
    padding: 20px;
}

.btn-icons-content{
    width: 20%;
    text-align: right;
}

.call{
    padding: 30px 0px;
    text-align: center;
}

.history-content{
    padding: 10px 0px;
    display: flex;
    align-items: center;
}

.edit-info{
    padding: 30px 0px;
    background-color: #F7F7F7;
}

.edit-availability {
  padding: 30px 0px;
  padding-bottom: 120px;
  background-color: #fff;
}

.edit-info-title{
    margin-bottom: 40px;
}

.small-container{
    max-width: 990px;
    margin: 0 auto;
}

.btn-edit{
    width: 32px;
    height: 32px;
}

.psicologo-desc{
  color: #FFF;
}

.button-availab {
  border: 0;
  outline: 0;
  background: #26235A;
  color: #fff;
  font-size: 20px;
  padding: 8px;
  margin-bottom: 22px;
  border-radius: 8px;
  transition: background 0.3s;
}

.button-availab:hover {
  background: #324773;
}

.hours {
  padding-left: 15px;
}

.hours p {
  padding-right: 5px;
}

.del-availability p{
  color: #D9145C;
  cursor: pointer;
}

.del-availability p:hover {
  color: #dc2b6c;
}

.last-chat-text{
    display: block;
    color: #7E7A7A;
}

.clock{
    width: 52px;
    height: 52px;
}

.clock-icon, .last-chat{
    display: inline-block;
    width: auto;
    padding: 10px;
}

.profile-pic{
    max-width: 150px;
    border-radius: 50%;
    border: 7px solid #D9145C;
    max-height: 150px;
}

.align-right{
    text-align: right;
}

.edit-info-title{
    text-transform: uppercase;
}

.divisor-section-blue{
    color: #26235a;
}

.accept-decline{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.logout {
  cursor: pointer;
}

.relod {
  cursor: pointer;
  color: #26235A;
}

.relod:hover {
  color: #dc2b6c;
  transition: ease 0.2s;
}

.buttons-form {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px){

    .clock{
        width: 42px;
        height: 42px;
    }

    .profile-pic{
        width: 100px;
    }

    .psy-info{
        padding: 10px;
    }

    .top-bar-content{
        justify-content: space-between;
    }

    .psy-info-content{
        width: auto;
    }

    .btn-icons-content{
        width: auto;
    }

    .btn-edit{
        width: 25px;
        height: 25px;
    }

    .btn-logout{
        width: 25px;
        height: 25px;
    }
}
