.App-logo {
    max-width: 100px;
    pointer-events: none;
  }

  .container{
    max-width: 1280px;
  }

  .slide-home{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg,#26235A -1%, #324773 100%);
    min-height: auto !important;
    padding: 120px 15px;
  }

  .slide-content{
    text-align: center;
  }

  .slide-content h1, .slide-content p{
    color: #fff;
  }

  .slide-content h1{
    text-transform: uppercase;
    font-weight: 900;
  }

  .step-img{
    max-width: 240px;
    border-radius: 50%;
    border: 10px solid #26235A;
    margin-bottom: 30px;
    max-height: 280px;
  }

  .first-section{
    padding: 60px 20px;
    text-align: center;
  }

  .steps{
    padding: 20px;
  }

  .steps-title{
    color: #D9145C;
    font-weight: 600;
  }

  .divisor{
    width: 10%;
    border-top: 5px solid #D9145C;
    margin-bottom: 20px !important;
  }

  .btn-primary{
    background-color: #D9145C;
    padding: 10px 40px;
    border: none;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 900;
    border-radius: 50px;
  }

  .second-section{
    background-image: url('../../images/bg-cell.jpg');
    background-size: cover;
    background-position: center center;
    min-height: 400px;
    display: flex;
    align-items: center;
  }

  .second-section h3, .second-section p, .second-section big{
    color: #FFF;
  }

  .second-section big{
    font-weight: 600;
  }

  footer{
    background-color: #26235A;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px 20px 0px;
  }

  footer p{
    color: #FFF;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .App-header {
    background-color: #26235A;
    max-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .links {
    text-decoration: none;
    font-weight: bold;
    color: #FFF;
    background: #D9145C;
    height: 38px;
    margin: 10px;
    padding: 10px;
    border-radius: 19px;
    transition: background 0.2s;
    display: inline-block;
  }

  .links:hover {
    text-decoration: none;
    color: #FFF;
    background: #26235A;

  }

  .App-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @media (max-width: 900px){
    .step-img{
      max-width: 180px;
    }
  }

  @media (max-width: 766px){
    .step-img{
      max-width: 240px;
    }
  }

  @media (max-width: 480px){
    .divisor{
      width: 20%;
    }
  }
